img{
    padding: 30px;
    height: 600px;
    width: 40%;
    float: right;
}
h2{
    text-align: justify;
}
h3{
    font-size: 20px;
    margin-left: 70%;
}
h4{
    font-size: 20px;
}