h1 {
    background-color: rgb(245, 194, 244);
}
.Novo2 {
    color: blue;
    margin-left: 900px;
    margin-top: 200px;
}

.Paginanova {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
}

